<div class="container container-dark">
  <br />
  <span><H1>FORECAST</H1></span>

  <form class="row">
    <div class="col-auto">
      <label for="staticCityText" class="visually-hidden">City</label>
      <input
        type="text"
        readonly
        class="form-control-plaintext"
        id="staticCityText"
        value="City"
      />
    </div>
    <div class="col-auto">
      <label for="inputCityName" class="visually-hidden">Text</label>
      <input
        type="text"
        class="form-control"
        id="inputCityName"
        placeholder="City name"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Find</button>
    </div>
    <div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioHourly"
          [checked]="modeToggle === 0"
          (click)="changeToggle()"
        />
        <label class="form-check-label" for="flexRadioHourly"> Hourly </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDaily"
          [checked]="modeToggle === 1"
          (click)="changeToggle()"
        />
        <label class="form-check-label" for="flexRadioDaily"> Daily </label>
      </div>
    </div>
    <!-- modeToggle: {{ modeToggle }} -->
  </form>
</div>

<app-tables
  [hourlyTable]="hourlyTable"
  [dailyTable]="dailyTable"
  [modeToggle]="modeToggle"
></app-tables>

<router-outlet></router-outlet>
